*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Victor Mono', monospace;
}
main{
    width:100%;
    padding: 1.5rem;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contents{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    gap: 2rem;
}
.contents h1{
    font-size: 3rem;
    color: rgb(48, 48, 48);
}
.contents p{
    font-size: 1.3rem;
    color: rgb(175, 175, 175);
    width: 100%;
    letter-spacing: 0.1rem;
    word-spacing: 0.3rem;
}
button{
    color: white;
    background: rgb(48, 48, 48);
    max-width: max-content;
    padding: 1rem 2rem;
}
img{
    width: 80%;
    margin: 2rem 0;
}
.error-header{
    font-size: 1.3rem;
    font-weight: 700;
}

@media screen and (min-width:768px){

}